{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="flex items-center justify-center h-screen ">
        <div class="max-w-6xl  bg-gray-100 shadow">


            <div class="flex flex-col border p-6">
                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                        <div class="overflow-hidden">
                            <table class="min-w-full text-left text-sm font-light">
                                <thead class="border-b font-medium dark:border-neutral-500">
                                <tr>
                                    <th scope="col" class="px-6 py-4">#</th>
                                    <th scope="col" class="px-6 py-4">Project Name</th>
                                    <th scope="col" class="px-6 py-4">Last Project Number</th>
                                    <th scope="col" class="px-6 py-4">Last Project Update</th>
                                    <th scope="col" class="px-6 py-4"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="border-b dark:border-neutral-500">
                                    <td class="whitespace-nowrap px-6 py-4 font-medium">1</td>
                                    <td class="whitespace-nowrap px-6 py-4">Mark</td>
                                    <td class="whitespace-nowrap px-6 py-4">Otto</td>
                                    <td class="whitespace-nowrap px-6 py-4">@mdo</td>
                                    <td class="whitespace-nowrap px-6 py-4">
                                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                            Increase
                                        </button>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}






