{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="flex items-center justify-center h-screen ">
        <div class="max-w-6xl  bg-gray-100 shadow">


            <div class="flex flex-col border p-6">
                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                        <div class="overflow-hidden">
                            <table class="min-w-full text-left text-sm font-light">
                                <thead class="border-b font-medium dark:border-neutral-500">
                                <tr>
                                    <th scope="col" class="px-6 py-4">#</th>
                                    <th scope="col" class="px-6 py-4">Project Name</th>
                                    <th scope="col" class="px-6 py-4">Latest Project Number</th>
                                    <th scope="col" class="px-6 py-4">Latest Project Update</th>
                                    <th scope="col" class="px-6 py-4"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for project in projects %}
                                    <tr class="border-b dark:border-neutral-500">
                                        <td class="whitespace-nowrap px-6 py-4 font-medium">{{ forloop.counter }}</td>
                                        <td class="whitespace-nowrap px-6 py-4">{{ project.project_name }}</td>
                                        <td class="whitespace-nowrap px-6 py-4">{{ project.project_version }}</td>
                                        <td class="whitespace-nowrap px-6 py-4">{{ project.project_version_datetime }}</td>
                                        <td class="whitespace-nowrap px-6 py-4">
                                            <a  href={% url 'project_increment' project_no=project.project_no %} class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                                Increase
                                            </a>

                                        </td>
                                    </tr>
                                {%  endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}






